<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Page | Pintu Rumah App</title>


    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/responsive.css">
    <!-- END STYLE CSS -->


    <!-- SCRIPT JS -->
    <script src="https://kit.fontawesome.com/e5ccf98c71.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- END SCRIPT JS -->
</head>
<body>
    <!-- NAVBAR -->
    <div class="navbar-tenancy d-flex align-items-center justify-content-between">
        <a href="../dashboard-staff/index.html" class="tenancy-button w-100 d-flex align-items-center gap-2">
            <i class="fa-solid fa-chevron-left" style="font-size: 0.913rem;"></i>
            Kembali ke Dashboard
        </a>
        <div class="tenancy-image w-100">
            <img src="../../assets/image/brand/brand-logo.svg" alt="Brand Logo" height="42">
        </div>
    </div>
    <!-- END NAVBAR -->


    <!-- SIDEBAR -->
    <div class="sidebar-tenancy d-none d-xl-flex flex-column align-items-center justify-content-center gap-2">
        <a href="index.html" class="sidebar-button active w-100 d-flex align-items-center gap-2">
            <i class="fa-solid fa-user"></i>
            Profil
        </a>
        <a href="account.html" class="sidebar-button w-100 d-flex align-items-center gap-2">
            <i class="fa-solid fa-circle-user"></i>
            Akun Saya
        </a>
        <a href="notification.html" class="sidebar-button w-100 d-flex align-items-center gap-2">
            <i class="fa-solid fa-bell"></i>
            Notifikasi
        </a>
    </div>
    <!-- END SIDEBAR -->


    <!-- MAIN CONTENT -->
    <div class="main">
        <section class="tenancy-form profile-form container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-xl-5">
                    <div class="content-form pb-5">
                        <div class="form-content">
                            <h5 class="content-title mb-3">Informasi Pribadi</h5>
                            <form class="form row">
                                <div class="col-12 mb-3 pb-4" style="border-bottom: 1px solid rgba(var(--dark-color), 0.12);">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label>Avatar</label>
                                        <div class="wrapper d-flex align-items-center gap-2">
                                            <img src="../../assets/image/profile/profile-not-found.svg" alt="Profile Not Found" width="82">
                                            <button type="button" class="button-primary-small">Unggah</button>
                                            <button type="button" class="button-outline-small">Hapus</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label for="name">Nama Panggilan <span>(Terlihat oleh orang lain)</span></label>
                                        <input type="text" class="input" id="name" value="Roy">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label for="fullname">Nama <span>(Nama Asli)</span></label>
                                        <input type="text" class="input" id="fullname" value="Roy Wenang Robbani">
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label for="phone">Nomor Telepon</label>
                                        <div class="input-group">
                                            <button class="btn btn-outline-secondary dropdown-toggle input" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="width: 20% !important;">
                                                <img src="../../../assets/image/icon/indonesia-flag.svg" alt="Indonesia Flag" class="img-fluid" width="20">
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item">Indonesia</a></li>
                                                <li><a class="dropdown-item">England</a></li>
                                                <li><a class="dropdown-item">Germany</a></li>
                                            </ul>
                                            <input type="text" class="input" id="phone" value="+62 81234567891" style="width: 80% !important;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mb-3 content-data pb-4" style="border-bottom: 1px solid rgba(var(--dark-color), 0.12);">
                                    <h6>Ulasan</h6>
                                    <p>Kelola ulasan yang telah Anda tulis untuk para profesional, penyewaan, dan lainnya.</p>
                                    <button type="button">Kelola</button>
                                </div>
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="button" class="button-primary-small">Simpan Perubahan</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- END MAIN CONTENT -->

    <!-- SCRIPT JS -->
    <script src="../../../assets/js/bootstrap.bundle.min.js"></script>
    <script>
        AOS.init({
            once: true,
        });
    </script>
    <!-- END SCRIPT JS -->
</body>
</html>