<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tenancy Living Form Page | Pintu Rumah App</title>


    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/responsive.css">
    <!-- END STYLE CSS -->


    <!-- SCRIPT JS -->
    <script src="https://kit.fontawesome.com/e5ccf98c71.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- END SCRIPT JS -->
</head>
<body class="mb-5 pb-5">
    <!-- NAVBAR -->
    <div class="navbar-tenancy d-flex align-items-center justify-content-between">
        <a href="../../dashboard-admin/index.html" class="tenancy-button w-100 d-flex align-items-center gap-2">
            <i class="fa-solid fa-chevron-left" style="font-size: 0.913rem;"></i>
            Kembali ke Dashboard
        </a>
        <div class="tenancy-image w-100">
            <img src="../../../assets/image/brand/brand-logo.svg" alt="Brand Logo" height="42">
        </div>
    </div>
    <!-- END NAVBAR -->


    <!-- SIDEBAR -->
    <div class="sidebar-tenancy d-none d-xl-flex flex-column align-items-center justify-content-center gap-2">
        <button type="button" class="sidebar-button w-100 d-flex align-items-center gap-2">
            <i class="fa-solid fa-user"></i>
            Pribadi
            <i class="fa-solid fa-check" style="width: 100%; text-align: end; color: rgba(112, 101, 240, 1);"></i>
        </button>
        <button type="button" class="sidebar-button w-100 d-flex align-items-center gap-2">
            <i class="fa-solid fa-suitcase"></i>
            Pekerjaan
            <i class="fa-solid fa-check" style="width: 100%; text-align: end; color: rgba(112, 101, 240, 1);"></i>
        </button>
        <button type="button" class="sidebar-button active w-100 d-flex align-items-center gap-2">
            <i class="fa-solid fa-house"></i>
            Tempat Tinggal
        </button>
        <button type="button" class="sidebar-button w-100 d-flex align-items-center gap-2">
            <i class="fa-solid fa-folder-closed"></i>
            Dokumen
        </button>
    </div>
    <!-- END SIDEBAR -->


    <!-- MAIN CONTENT -->
    <div class="main">
        <section class="tenancy-form container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-xl-8">
                    <div class="content-header">
                        <h2 class="title text-center w-100" style="margin-bottom: 6px;">Formulir Permohonan Sewa</h2>
                        <p class="description text-center">Permohonan ini tidak akan diproses jika tidak diisi secara lengkap dengan melampirkan salinan semua dokumen pendukung.</p>
                    </div>
                    <div class="content-form">
                        <h3 class="form-subtitle">Pengaturan Tempat Tinggal</h3>
                        <p class="form-description">Diperlukan pengaturan tempat tinggal saat ini dan sebelumnya. Harap berikan minimal 4 tahun gabungan riwayat hidup saat ini dan sebelumnya</p>
                        <div class="row">
                            <div class="col-md-6 mb-4 mb-md-0">
                                <div class="form-content">
                                    <h5 class="content-title mb-3">Tempat Tinggal Sebelumnya</h5>
                                    <a href="form-2.html" class="button-primary w-100 text-center d-flex gap-2 justify-content-center align-items-center mb-3">
                                        <i class="fa-solid fa-plus"></i>
                                        Tambahkan
                                    </a>
                                    <div class="card-checkbox d-flex gap-2 align-items-center">
                                        <input type="checkbox" id="approve_before">
                                        <label for="approve_before">Saya tidak memiliki tempat tinggal sebelumnya (misalnya hanya tinggal di rumah masa kecil saya)</label>
                                    </div>
                                    <form class="form form_before row d-none">
                                        <div class="col-12">
                                            <div class="form-input d-flex flex-column gap-2 w-100" style="margin-top: 24px; padding-top: 16px; border-top: 1px solid rgba(0, 0, 0, 0.12);">
                                                <label for="alasan">Alasan tidak memiliki tempat tinggal sebelumnya</label>
                                                <textarea class="input" id="alasan" rows="4" placeholder="Contoh : saya tidak pernah pindah saat masa kecil saya"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-content">
                                    <h5 class="content-title mb-3">Tempat Tinggal Sekarang</h5>
                                    <a href="form-2.html" class="button-primary w-100 text-center d-flex gap-2 justify-content-center align-items-center mb-3">
                                        <i class="fa-solid fa-plus"></i>
                                        Tambahkan
                                    </a>
                                    <div class="card-checkbox d-flex gap-2 align-items-center">
                                        <input type="checkbox" id="approve_after">
                                        <label for="approve_after">Saya tidak memiliki tempat tinggal sebelumnya (misalnya hanya tinggal di rumah masa kecil saya)</label>
                                    </div>
                                    <form class="form form_after row d-none">
                                        <div class="col-12">
                                            <div class="form-input d-flex flex-column gap-2 w-100" style="margin-top: 24px; padding-top: 16px; border-top: 1px solid rgba(0, 0, 0, 0.12);">
                                                <label for="alasan">Alasan tidak memiliki tempat tinggal sekarang</label>
                                                <textarea class="input" id="alasan" rows="4" placeholder="Contoh : saya tidak pernah pindah saat masa kecil saya"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- END MAIN CONTENT -->

    <!-- SCRIPT JS -->
    <script src="../../../assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        AOS.init({
            once: true,
        });

        $(document).ready(function() {
            $('#approve_before').change(function() {
                $('.form_before').toggleClass('d-none', !this.checked);
            });

            $('#approve_after').change(function() {
                $('.form_after').toggleClass('d-none', !this.checked);
            });
        });
    </script>
    <!-- END SCRIPT JS -->
</body>
</html>