<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard Submission Page | Pintu Rumah App</title>


    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/responsive.css">
    <!-- END STYLE CSS -->


    <!-- SCRIPT JS -->
    <script src="https://kit.fontawesome.com/e5ccf98c71.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- END SCRIPT JS -->
</head>
<body class="dashboard">
    <!-- SIDEBAR -->
    <div class="sidebar d-flex flex-column justify-content-between">
        <div class="sidebar-header d-flex flex-column gap-4">
            <div class="header-brand d-flex align-items-center justify-content-between gap-3">
                <a href="../index.html" class="sidebar-brand w-100">
                    <span class="brand-logo"></span>
                </a>
                <i class="fa-regular fa-circle-left" style="font-size: 1rem; opacity: 0.62;"></i>
            </div>
            <div class="link-item d-flex flex-column gap-2 w-100 align-items-center">
                <a href="../index.html" class="sidebar-item d-flex gap-1 align-items-center">
                    <span class="dashboard-icon"></span>
                    <span>Dashboard</span>
                </a>
                <a href="../submission/index.html" class="sidebar-item active d-flex gap-1 align-items-center">
                    <span class="submission-icon"></span>
                    <span>Pengajuan</span>
                </a>
                <a href="../favorite/index.html" class="sidebar-item d-flex gap-1 align-items-center">
                    <span class="favorite-icon"></span>
                    <span>Favorit</span>
                </a>
                <a href="../message/empty-state.html" class="sidebar-item d-flex gap-1 align-items-center">
                    <span class="message-icon"></span>
                    <span>Pesan</span>
                </a>
            </div>
        </div>
        <div class="link-item d-flex flex-column gap-2 w-100 align-items-center">
            <a href="../index.html" class="sidebar-item d-flex gap-1 align-items-center">
                <span class="info-icon"></span>
                <span>Bantuan</span>
            </a>
            <a href="../index.html" class="sidebar-item d-flex gap-1 align-items-center">
                <span class="setting-icon"></span>
                <span>Pengaturan</span>
            </a>
        </div>
    </div>
    <!-- END SIDEBAR -->


    <!-- TOPBAR -->
    <div class="topbar d-flex justify-content-between align-items-center">
        <h4 class="topbar-title">Pengajuan</h4>
        <div class="topbar-group d-flex gap-3 align-items-center">
            <hr>
            <div class="topbar-button topbar-button-login d-none d-lg-flex gap-2 align-items-center position-relative">
                <button class="button-login d-flex gap-2 align-items-center position-relative">
                    <img src="../../../assets/image/profile/profile-image.svg" alt="Profile Image" width="32">
                    Bimabem
                </button>
                <div class="button-popup d-flex flex-column gap-2">
                    <a href="../../dashboard-admin/index.html" class="d-flex align-items-center gap-2">
                        <i class="fa-solid fa-house"></i>
                        Dashboard
                    </a>
                    <a href="../../authentication/login/index.html" class="d-flex align-items-center gap-2">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- END TOPBAR -->


    <!-- DASHBOARD CONTENT -->
    <div class="dashboard-content dashboard d-flex">
        <div class="content content-submission">
            <div class="content-table pb-4">
                <div class="table-title d-flex align-items-center justify-content-between">
                    <select>
                        <option value="">Semua Properti</option>
                        <option value="">Properti 1</option>
                        <option value="">Properti 2</option>
                        <option value="">Properti 3</option>
                        <option value="">Properti 4</option>
                    </select>
                    <div class="wrapper w-100 d-flex justify-content-end gap-2">
                        <div class="input-search position-relative">
                            <input type="search" class="topbar-input position-relative" placeholder="Cari Properti">
                            <img src="../../../assets/image/icon/search-primary.svg" alt="Search Icon" width="16">
                        </div>
                        <label class="input-date d-flex align-items-center gap-2">
                            <i class="fa-regular fa-calendar-days"></i>
                            1 Dec- 31 Dec
                        </label>
                    </div>
                </div>
                <div class="table-content">
                    <div class="content-header d-flex align-items-end justify-content-between">
                        <div class="header-value">
                            <h6 class="mb-1">Ringkasan</h6>
                            <p>30 Hari Terakhir</p>
                        </div>
                        <div class="line"></div>
                        <div class="header-value">
                            <p class="mb-1">Total Properti</p>
                            <h6>12</h6>
                        </div>
                        <div class="line"></div>
                        <div class="header-value">
                            <p class="mb-1">Pajak Aplikasi</p>
                            <h6>5,4 Juta</h6>
                        </div>
                        <div class="line"></div>
                        <div class="header-value">
                            <p class="mb-1">Total Respons</p>
                            <h6>3 <span>25%</span></h6>
                        </div>
                    </div>
                    <div class="content-list">
                        <table class="table">
                            <tr>
                                <th scope="col">Tanggal</th>
                                <th scope="col">Properti</th>
                                <th scope="col"></th>
                            </tr>
                            <tr>
                                <td>
                                    <p class="py-2">Dec 9, 11.00 AM</p>
                                </td>
                                <td>
                                    <div class="wrapper d-flex align-items-center gap-2 py-2">
                                        <img src="../../../assets/image/page-main/property/property-1.jpg" alt="Property Image" class="property-image">
                                        <div class="wrapper">
                                            <h6>Beverly Springfield</h6>
                                            <div class="wrapper d-flex gap-2 align-items-center">
                                                <p>Awandi Dasrul</p>
                                                <div class="bullet"></div>
                                                <p>2821 Sevilla, Palm Harbor, TX</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="button-detail d-flex gap-2 align-items-center my-2">
                                        <i class="fa-regular fa-file-pdf" style="font-size: 0.875rem;"></i>
                                        Lihat detail
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="py-2">Dec 7, 10.08 AM</p>
                                </td>
                                <td>
                                    <div class="wrapper d-flex align-items-center gap-2 py-2">
                                        <img src="../../../assets/image/page-main/property/property-2.jpg" alt="Property Image" class="property-image">
                                        <div class="wrapper">
                                            <h6>Palm Harbor</h6>
                                            <div class="wrapper d-flex gap-2 align-items-center">
                                                <p>Jason O’Neill</p>
                                                <div class="bullet"></div>
                                                <p>2699 Green Valley, Highland Lake, FL </p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="button-detail d-flex gap-2 align-items-center my-2">
                                        <i class="fa-regular fa-file-pdf" style="font-size: 0.875rem;"></i>
                                        Lihat detail
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="py-2">Dec 7, 14.15 AM</p>
                                </td>
                                <td>
                                    <div class="wrapper d-flex align-items-center gap-2 py-2">
                                        <img src="../../../assets/image/page-main/property/property-3.jpg" alt="Property Image" class="property-image">
                                        <div class="wrapper">
                                            <h6>Faulkner Ave</h6>
                                            <div class="wrapper d-flex gap-2 align-items-center">
                                                <p>Chris Assouline</p>
                                                <div class="bullet"></div>
                                                <p>909 Woodland St, Michigan, IN </p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="button-detail d-flex gap-2 align-items-center my-2">
                                        <i class="fa-regular fa-file-pdf" style="font-size: 0.875rem;"></i>
                                        Lihat detail
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="py-2">Dec 7, 10.08 AM</p>
                                </td>
                                <td>
                                    <div class="wrapper d-flex align-items-center gap-2 py-2">
                                        <img src="../../../assets/image/page-main/property/property-4.jpg" alt="Property Image" class="property-image">
                                        <div class="wrapper">
                                            <h6>St. Crystal</h6>
                                            <div class="wrapper d-flex gap-2 align-items-center">
                                                <p>Mark Manaman</p>
                                                <div class="bullet"></div>
                                                <p>210 US Highway, Highland Lake, FL</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="button-detail d-flex gap-2 align-items-center my-2">
                                        <i class="fa-regular fa-file-pdf" style="font-size: 0.875rem;"></i>
                                        Lihat detail
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="py-2">Dec 7, 10.08 AM</p>
                                </td>
                                <td>
                                    <div class="wrapper d-flex align-items-center gap-2 py-2">
                                        <img src="../../../assets/image/page-main/property/property-5.jpg" alt="Property Image" class="property-image">
                                        <div class="wrapper">
                                            <h6>Cove Red</h6>
                                            <div class="wrapper d-flex gap-2 align-items-center">
                                                <p>Sam Smith</p>
                                                <div class="bullet"></div>
                                                <p>243 Curlew Road, Palm Harbor, TX</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="button-detail d-flex gap-2 align-items-center my-2">
                                        <i class="fa-regular fa-file-pdf" style="font-size: 0.875rem;"></i>
                                        Lihat detail
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="py-2">Dec 7, 10.08 AM</p>
                                </td>
                                <td>
                                    <div class="wrapper d-flex align-items-center gap-2 py-2">
                                        <img src="../../../assets/image/page-main/property/property-6.jpg" alt="Property Image" class="property-image">
                                        <div class="wrapper">
                                            <h6>Tarpon Bay</h6>
                                            <div class="wrapper d-flex gap-2 align-items-center">
                                                <p>Martin Felix</p>
                                                <div class="bullet"></div>
                                                <p>243 Curlew Road, Palm Harbor, TX</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="button-detail d-flex gap-2 align-items-center my-2">
                                        <i class="fa-regular fa-file-pdf" style="font-size: 0.875rem;"></i>
                                        Lihat detail
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="py-2">Dec 7, 10.08 AM</p>
                                </td>
                                <td>
                                    <div class="wrapper d-flex align-items-center gap-2 py-2">
                                        <img src="../../../assets/image/page-main/property/property-1.jpg" alt="Property Image" class="property-image">
                                        <div class="wrapper">
                                            <h6>The Old Steele</h6>
                                            <div class="wrapper d-flex gap-2 align-items-center">
                                                <p>Gabriel Miller</p>
                                                <div class="bullet"></div>
                                                <p>103 Lake Shores, Michigan, IN</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="button-detail d-flex gap-2 align-items-center my-2">
                                        <i class="fa-regular fa-file-pdf" style="font-size: 0.875rem;"></i>
                                        Lihat detail
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="content-footer d-flex justify-content-between align-items-center">
                        <p>1－10 Dari 57</p>
                        <div class="wrapper d-flex gap-3 align-items-center">
                            <p>1 Dari 6</p>
                            <div class="button-group d-flex gap-2">
                                <button type="button">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </button>
                                <button type="button">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="aside-notification d-flex flex-column">
            <div class="content-profile d-flex flex-column align-items-center">
                <div class="profile-header d-flex align-items-center justify-content-between w-100">
                    <h5 class="profile-title">Profil Saya</h5>
                    <i class="fa-solid fa-ellipsis" style="font-size: 22px;"></i>
                </div>
                <div class="profile-content d-flex flex-column align-items-center text-center">
                    <img src="../../../assets/image/profile/profile-image-2.svg" alt="Profile Image" class="profile-image">
                    <h6>Giovanni Schleifer</h6>
                    <p>Houston, TX</p>
                </div>
                <div class="profile-nik d-flex justify-content-between align-items-center w-100">
                    <div class="wrapper d-flex gap-2 align-items-center">
                        <p>518</p>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                    </div>
                    <button type="button">Lihat NIK</button>
                </div>
                <div class="profile-data d-flex justify-content-between align-items-center w-100">
                    <p>Tanggal Lahir</p>
                    <p>09-05-1985</p>
                </div>
                <div class="profile-data d-flex justify-content-between align-items-center w-100">
                    <p>Umur</p>
                    <p>36 tahun</p>
                </div>
                <div class="profile-data d-flex justify-content-between align-items-center w-100">
                    <p>Email</p>
                    <p>manuelvilla@gmail.com</p>
                </div>
                <div class="profile-data d-flex justify-content-between align-items-center w-100" style="margin-bottom: 22px; border-bottom: 1px solid rgba(var(--dark-color), 0.12);">
                    <p>Nomor Telepon</p>
                    <p>202-555-0159</p>
                </div>
                <div class="profile-income d-flex flex-column align-items-center text-center w-100">
                    <p>Total Penghasilan</p>
                    <h6 class="mb-3">67 Juta/Bulan</h6>
                    <div class="wrapper d-flex align-items-center justify-content-between gap-2 w-100 pt-3">
                        <div class="wrapper-value">
                            <p>Penghuni</p>
                            <h6>1 orang</h6>
                        </div>
                        <div class="line"></div>
                        <div class="wrapper-value">
                            <p>Tanggal Pindah</p>
                            <h6>Dec 18, 2025</h6>
                        </div>
                    </div>
                </div>
                <div class="profile-reference">
                    <h6>Refrensi Pribadi</h6>
                    <p>“Dia selalu membayar sewa tepat waktu”</p>
                    <div class="profile d-flex align-items-center gap-3">
                        <img src="../../../assets/image/profile/profile-image-2.svg" alt="Profile Image" class="profile-image">
                        <div class="wrapper">
                            <div class="wrapper-name d-flex align-items-center gap-1">
                                <h6>Mario</h6>
                                <img src="../../../assets/image/icon/verified.svg" alt="Verified Icon" width="16">
                                <p>Identitas Terverifikasi</p>
                            </div>
                            <p class="profile-email">mariogarcia@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END DASHBOARD CONTENT -->


    <!-- SCRIPT JS -->
    <script src="../../../assets/js/bootstrap.bundle.min.js"></script>
    <script>
        AOS.init({
            once: true,
        });

        document.querySelector('.button-login').addEventListener('click', function() {
            document.querySelector('.button-popup').classList.toggle('active')
        })
    </script>
    <!-- END SCRIPT JS -->
</body>
</html>