<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detail Property Page | Pintu Rumah App</title>


    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/responsive.css">
    <!-- END STYLE CSS -->


    <!-- SCRIPT JS -->
    <script src="https://kit.fontawesome.com/e5ccf98c71.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- END SCRIPT JS -->
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-aos="fade-down" data-aos-duration="500">
        <div class="container">
            <a class="navbar-brand" href="../main-page/index-login.html">
                <img src="../../../assets/image/brand/brand-logo.svg" alt="Brand Logo" height="46">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-lg-flex justify-content-between align-items-center ms-lg-4" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link mx-2" href="../main-page/index-login.html">Sewa</a>
                    <a class="nav-link mx-2" href="../main-page/index-login.html">Beli</a>
                    <a class="nav-link mx-2" href="../main-page/index-login.html">Jual</a>
                    <a class="nav-link mx-2 d-flex align-items-center gap-2" href="../main-page/index-login.html">
                        Kelola Properti
                        <i class="fa-solid fa-chevron-down" style="font-size: 0.725rem;"></i>
                    </a>
                </div>
                <div class="navbar-button navbar-button-login d-none d-lg-flex gap-2 align-items-center position-relative">
                    <button class="button-login d-flex gap-2 align-items-center position-relative">
                        <img src="../../../assets/image/profile/profile-image.svg" alt="Profile Image" width="32">
                        Bimabem
                    </button>
                    <div class="button-popup d-flex flex-column gap-2">
                        <a href="../../dashboard-admin/index.html" class="d-flex align-items-center gap-2">
                            <i class="fa-solid fa-house"></i>
                            Dashboard
                        </a>
                        <a href="../../authentication/login/index.html" class="d-flex align-items-center gap-2">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->


    <!-- MAIN CONTENT -->
    <main class="container section-gap">
        <section class="detail-property" id="detail-property">
            <div class="row">
                <div class="col-12 d-flex flex-column flex-lg-row align-items-lg-end justify-content-between">
                    <div class="wrapper-title" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300">
                        <a href="../property/index-login.html" class="redirect d-flex align-items-center gap-2" style="margin-bottom: 8px;">
                            <i class="fa-solid fa-chevron-left" style="font-size: 0.813rem;"></i>
                            Back to map
                        </a>
                        <h2 class="title" style="margin-bottom: 4px;">St. Crystal</h2>
                        <p class="description">210 US Highway, Highland Lake, FL</p>
                    </div>
                    <div class="scroll-button mt-3 mt-lg-0" data-aos="fade-right" data-aos-duration="500" data-aos-delay="400">
                        <div class="button-group-title d-flex gap-2">
                            <button type="button" class="button-outline-small d-flex gap-2 align-items-center">
                                <i class="fa-solid fa-share-nodes" style="font-size: 0.913rem;"></i>
                                Bagikan
                            </button>
                            <button type="button" class="button-outline-small d-flex gap-2 align-items-center">
                                <i class="fa-solid fa-heart" style="font-size: 0.913rem;"></i>
                                Favorit
                            </button>
                            <a href="../property/index-login.html" class="button-outline-small d-flex gap-2 align-items-center">
                                <i class="fa-solid fa-magnifying-glass" style="font-size: 0.913rem;"></i>
                                Cari Properti Terdekat
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12" style="margin-top: 32px;">
                    <div class="row">
                        <div class="col-lg-8">
                            <img src="../../../assets/image/page-main/property/property-1.jpg" alt="Property Thumbnail" class="img-fluid w-100 rounded" style="height: 100%; object-fit: cover;" data-aos="fade" data-aos-duration="500" data-aos-delay="600">
                        </div>
                        <div class="col d-none d-md-flex flex-lg-column gap-4 mt-4 mt-lg-0">
                            <img src="../../../assets/image/page-main/property/property-2.jpg" alt="Property Thumbnail" class="rounded" style="width: 100%; height: 100%; object-fit: cover;" data-aos="fade" data-aos-duration="500" data-aos-delay="700">
                            <img src="../../../assets/image/page-main/property/property-3.jpg" alt="Property Thumbnail" class="rounded" style="width: 100%; height: 100%; object-fit: cover;" data-aos="fade" data-aos-duration="500" data-aos-delay="800">
                        </div>
                    </div>
                </div>
                <div class="col-12 content-gap">
                    <div class="row">
                        <div class="col order-1 order-lg-2 mb-4 mb-lg-0">
                            <div class="card-transaction" data-aos="fade-up" data-aos-duration="500">
                                <p>Harga Sewa</p>
                                <h4>IDR 30 Juta <span>/bulan</span></h4>
                                <a href="../tenancy-profile/form.html" class="button-primary d-flex gap-2 align-items-center justify-content-center w-100 text-center">
                                    <i class="fa-regular fa-file-lines" style="font-size: 0.913rem;"></i>
                                    Ajukan Sekarang
                                </a>
                                <div class="wrapper">
                                    <h6>Request a home tour</h6>
                                    <div class="wrapper-button">
                                        <div class="wrapper d-flex gap-2 w-100">
                                            <button type="button" class="d-flex align-items-center justify-content-center gap-2 w-100">
                                                <i class="fa-solid fa-house" style="font-size: 0.913rem;"></i>
                                                Langsung
                                            </button>
                                            <button type="button" class="d-flex align-items-center justify-content-center gap-2 w-100 active">
                                                <i class="fa-solid fa-circle-play" style="font-size: 0.913rem;"></i>
                                                Virtual
                                            </button>
                                        </div>
                                        <input type="date" class="w-100 mt-2">
                                    </div>
                                </div>
                                <a href="../../dashboard-admin/index.html" class="button-primary button-dark w-100 d-flex align-items-center gap-2 justify-content-center mt-4">
                                    <i class="fa-solid fa-location-crosshairs" style="font-size: 0.913rem;"></i>
                                    Ajukan Tur Rumah
                                </a>
                                <span class="text-center w-100 mt-3 d-inline-block">Gratis, tanpa kewajiban - batalkan kapan saja.</span>
                            </div>
                        </div>
                        <div class="col-lg-8 order-2 order-lg-1">
                            <div class="wrapper-value d-flex justify-content-between align-items-center gap-4" data-aos="fade-up" data-aos-duration="500">
                                <div class="wrapper w-100">
                                    <p>Kamar Tidur</p>
                                    <span class="wrapper d-flex align-items-center gap-2">
                                        <img src="../../../assets/image/icon/bed-dark-blur.svg" alt="Room Dark" width="20">
                                        4
                                    </span>
                                </div>
                                <div class="wrapper w-100">
                                    <p>Kamar Mandi</p>
                                    <span class="wrapper d-flex align-items-center gap-2">
                                        <img src="../../../assets/image/icon/bathroom-dark-blur.svg" alt="Bathroom Dark" width="20">
                                        2
                                    </span>
                                </div>
                                <div class="wrapper w-100">
                                    <p>Luas Bangunan</p>
                                    <span class="wrapper d-flex align-items-center gap-2">
                                        <img src="../../../assets/image/icon/size-dark-blur.svg" alt="Size Dark" width="20">
                                        6x8 m²
                                    </span>
                                </div>
                                <div class="wrapper w-100">
                                    <p>Status</p>
                                    <span class="wrapper d-flex align-items-center gap-2">
                                        <img src="../../../assets/image/icon/status-dark-blur.svg" alt="Status Dark" width="20">
                                        6x8 m²
                                    </span>
                                </div>
                            </div>
                            <h3 style="margin-top: 42px; margin-bottom: 20px;" data-aos="fade-up" data-aos-duration="500">Tentang Rumah Ini</h3>
                            <p class="description" data-aos="fade-up" data-aos-duration="500">Lihatlah Ruang Tamu Halaman Belakang Khusus itu! Rumah seluas 3237 meter persegi, 4 Kamar Tidur, 2 Kamar Mandi di jalan Lake Villa di lingkungan Palm Harbor, Texas. Dirawat dengan baik dengan banyak peningkatan! Peralatan baja tahan karat yang lebih baru akan tetap ada di unit, termasuk mesin pencuci piring, lemari es, kompor, microwave, dan mesin cuci dan pengering. Penyewa membayar tagihan listrik dan gas. Air, Saluran Pembuangan, dan Sampah ditanggung oleh Pemilik. Penyewa bertanggung jawab atas perawatan rumput dan pembersihan salju. Pemilik menyediakan mesin pemotong rumput. Minimal sewa satu tahun.</p>
                            <div class="wrapper-author" style="margin-top: 32px;" data-aos="fade-up" data-aos-duration="500">
                                <p style="margin-bottom: 20px;">Oleh Pemilih Properti</p>
                                <div class="wrapper d-flex flex-column flex-md-row align-items-md-end justify-content-between gap-3 gap-md-0">
                                    <div class="author d-flex align-items-center gap-3">
                                        <img src="../../../assets/image/page-main/testimonial/testimonial-4.svg" alt="Testimonial Profile" class="img-fluid" width="48">
                                        <div class="wrapper">
                                            <h6>Madina Aulia</h6>
                                            <span>Rich Capital Properties LLC</span>
                                        </div>
                                    </div>
                                    <div class="author-button d-flex gap-2">
                                        <a href="#">Ajukan Pertanyaan</a>
                                        <button class="d-flex align-items-center gap-2">
                                            <i class="fa-solid fa-circle-question" style="font-size: 0.913rem;"></i>
                                            Detail Info
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper-description" data-aos="fade-up" data-aos-duration="500">
                                <h3 style="margin-bottom: 24px;">Fitur Penyewaan</h3>
                                <div class="row row-cols-1 row-cols-md-2">
                                    <div class="col d-flex flex-column gap-2">
                                        <div class="wrapper d-flex justify-content-between w-100 align-items-center">
                                            <p>Listed on <img src="../../../assets/image/brand/brand-logo.svg" alt="Brand Logo" height="24"></p>
                                            <h6>1 minggu</h6>
                                        </div>
                                        <div class="wrapper d-flex justify-content-between w-100 align-items-center">
                                            <p>Tanggal Tersedia</p>
                                            <h6>Tersedia Sekarang</h6>
                                        </div>
                                        <div class="wrapper d-flex justify-content-between w-100 align-items-center">
                                            <p>Tipe Properti</p>
                                            <h6>Rumah</h6>
                                        </div>
                                        <div class="wrapper d-flex justify-content-between w-100 align-items-center">
                                            <p>Laundry</p>
                                            <h6>Tersedia</h6>
                                        </div>
                                        <div class="wrapper d-flex justify-content-between w-100 align-items-center">
                                            <p>Pendingin Ruangan</p>
                                            <h6>Air Conditioner</h6>
                                        </div>
                                        <div class="wrapper d-flex justify-content-between w-100 align-items-center">
                                            <p>Penghangat Ruangan</p>
                                            <h6>-</h6>
                                        </div>
                                    </div>
                                    <div class="col d-flex flex-column gap-2">
                                        <div class="wrapper d-flex justify-content-between w-100 align-items-center">
                                            <p>Kota</p>
                                            <h6>Miami</h6>
                                        </div>
                                        <div class="wrapper d-flex justify-content-between w-100 align-items-center">
                                            <p>Tahun Pembuatan</p>
                                            <h6>2018</h6>
                                        </div>
                                        <div class="wrapper d-flex justify-content-between w-100 align-items-center">
                                            <p>Luas Ruang Tamu</p>
                                            <h6>2,173 sqft</h6>
                                        </div>
                                        <div class="wrapper d-flex justify-content-between w-100 align-items-center">
                                            <p>Total Luas Bangunan</p>
                                            <h6>9,060 sqft</h6>
                                        </div>
                                        <div class="wrapper d-flex justify-content-between w-100 align-items-center">
                                            <p>Garasi Parkir</p>
                                            <h6>Yes</h6>
                                        </div>
                                        <div class="wrapper d-flex justify-content-between w-100 align-items-center">
                                            <p>Harga</p>
                                            <h6>IDR 30Juta</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper-description" data-aos="fade-up" data-aos-duration="500">
                                <h3 style="margin-bottom: 24px;">Riwayat Harga Sewa St. Crystal</h3>
                                <table class="w-100">
                                    <thead>
                                    <tr>
                                        <th>Tanggal</th>
                                        <th>Harga</th>
                                        <th>Acara</th>
                                        <th>Sumber</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td style="opacity: 0.62;">28/12/2024</td>
                                        <td>IDR 30 Juta/bulan</td>
                                        <td>Terdaftar untuk Dijual</td>
                                        <td>PintuRumah</td>
                                    </tr>
                                    <tr>
                                        <td style="opacity: 0.62;">10/10/2024</td>
                                        <td>IDR 30 Juta/bulan</td>
                                        <td>Perubahan Harga</td>
                                        <td>PintuRumah</td>
                                    </tr>
                                    <tr>
                                        <td style="opacity: 0.62;">03/04/2024</td>
                                        <td>IDR 30 Juta/bulan</td>
                                        <td>Tersewa</td>
                                        <td>Catatan Publik</td>
                                    </tr>
                                    <tr>
                                        <td style="opacity: 0.62;">25/11/2024</td>
                                        <td>IDR 25 Juta/bulan</td>
                                        <td>Diskon Natal</td>
                                        <td>Catatan Publik</td>
                                    </tr>
                                    <tr>
                                        <td style="opacity: 0.62;">09/02/2024</td>
                                        <td>IDR 30 Juta/bulan</td>
                                        <td>Terdaftar untuk Dijual</td>
                                        <td>Catatan Publik</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="wrapper-description" data-aos="fade-up" data-aos-duration="500">
                                <p class="description">Anda menyetujui Ketentuan Penggunaan & Kebijakan Privasi PintuRumah. Dengan memilih untuk menghubungi properti, Anda juga setuju bahwa PintuRumah Group, pemilik, dan manajer properti dapat menelepon atau mengirim pesan kepada Anda tentang pertanyaan apa pun yang Anda kirimkan melalui layanan kami, yang mungkin melibatkan penggunaan sarana otomatis dan suara yang telah direkam sebelumnya/suara buatan. Anda tidak perlu memberikan persetujuan sebagai syarat untuk menyewa properti apa pun, atau membeli barang atau layanan lainnya. Tarif pesan/data mungkin berlaku.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- END MAIN CONTENT -->


    <!-- FOOTER -->
    <div class="container" data-aos="fade-up" data-aos-duration="500">
        <footer class="footer section-gap" id="footer">
            <div class="row justify-content-center">
                <div class="col-6 col-md-3 col-lg-2 d-flex d-md-inline-block flex-column gap-4">
                    <a href="../main-page/index-login.html">
                        <img src="../../../assets/image/brand/brand-logo.svg" alt="Brand Logo" height="40" class="img-fluid">
                    </a>
                    <div class="wrapper d-flex d-md-none flex-column gap-3">
                        <h6>TENTANG</h6>
                        <a href="../main-page/index-login.html">Perusahaan</a>
                        <a href="../main-page/index-login.html">Cara Kerja</a>
                        <a href="../main-page/index-login.html">Kontak</a>
                        <a href="../main-page/index-login.html">Investor</a>
                    </div>
                </div>
                <div class="col-6 col-md-3 d-flex flex-column gap-5">
                    <div class="wrapper d-flex flex-column gap-3">
                        <h6>JUAL RUMAH</h6>
                        <a href="../main-page/index-login.html">Minta penawaran</a>
                        <a href="../main-page/index-login.html">Harga</a>
                        <a href="../main-page/index-login.html">Ulasan</a>
                        <a href="../main-page/index-login.html">Tentang</a>
                    </div>
                    <div class="wrapper d-flex flex-column gap-3">
                        <h6>BELI RUMAH</h6>
                        <a href="../main-page/index-login.html">Beli</a>
                        <a href="../main-page/index-login.html">Finansial</a>
                    </div>
                </div>
                <div class="col-md-3 d-flex flex-row flex-md-column gap-5 justify-content-between justify-content-md-start mt-4 mt-md-0">
                    <div class="wrapper d-flex flex-column gap-3 w-100">
                        <h6>BELI, SEWA DAN JUAL</h6>
                        <a href="../main-page/index-login.html">Beli dan Jual Properti</a>
                        <a href="../main-page/index-login.html">Sewa Rumah</a>
                        <a href="../main-page/index-login.html">Pengajuan Sewa</a>
                    </div>
                    <div class="wrapper d-flex flex-column gap-3 w-100">
                        <h6>KETENTUAN & PRIVASI</h6>
                        <a href="../main-page/index-login.html">Kepercayaan & Keamanan</a>
                        <a href="../main-page/index-login.html">Ketentuan Layanan</a>
                        <a href="../main-page/index-login.html">Kebijakan Privasi</a>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2 d-none d-md-flex flex-column gap-3">
                    <h6>TENTANG</h6>
                    <a href="../main-page/index-login.html">Perusahaan</a>
                    <a href="../main-page/index-login.html">Cara Kerja</a>
                    <a href="../main-page/index-login.html">Kontak</a>
                    <a href="../main-page/index-login.html">Investor</a>
                </div>
            </div>
            <div class="row" style="margin-top: 82px;">
                <div class="col-12">
                    <div class="wrapper-copyright d-flex align-items-center justify-content-between">
                        <p>©2024 PintuRumah. All rights reserved</p>
                        <div class="wrapper d-flex gap-3">
                            <a href="https://www.facebook.com/" target="_blank">
                                <img src="../../../assets/image/icon/facebook-dark-blur.svg" alt="Facebook Icon" width="20">
                            </a>
                            <a href="https://www.instagram.com/" target="_blank">
                                <img src="../../../assets/image/icon/instagram-dark-blur.svg" alt="Instagram Icon" width="20">
                            </a>
                            <a href="https://twitter.com/home" target="_blank">
                                <img src="../../../assets/image/icon/twitter-dark-blur.svg" alt="Twitter Icon" width="20">
                            </a>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <img src="../../../assets/image/icon/linkedin-dark-blur.svg" alt="Linkedin Icon" width="20">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- END FOOTER -->


    <!-- SCRIPT JS -->
    <script src="../../../assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            once: true
        });

        document.querySelector('.button-login').addEventListener('click', function() {
            document.querySelector('.button-popup').classList.toggle('active')
        })
    </script>
    <!-- END SCRIPT JS -->
</body>
</html>