<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard Page | Pintu Rumah App</title>


    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/responsive.css">
    <!-- END STYLE CSS -->


    <!-- SCRIPT JS -->
    <script src="https://kit.fontawesome.com/e5ccf98c71.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- END SCRIPT JS -->
</head>
<body class="dashboard">
    <!-- SIDEBAR -->
    <div class="sidebar d-flex flex-column justify-content-between">
        <div class="sidebar-header d-flex flex-column gap-4">
            <div class="header-brand d-flex align-items-center justify-content-between gap-3">
                <a href="../dashboard-admin/index.html" class="sidebar-brand w-100">
                    <span class="brand-logo"></span>
                </a>
                <i class="fa-regular fa-circle-left" style="font-size: 1rem; opacity: 0.62;"></i>
            </div>
            <div class="link-item d-flex flex-column gap-2 w-100 align-items-center">
                <a href="../dashboard-admin/index.html" class="sidebar-item active d-flex gap-1 align-items-center">
                    <span class="dashboard-icon"></span>
                    <span>Dashboard</span>
                </a>
                <a href="../dashboard-admin/submission/index.html" class="sidebar-item d-flex gap-1 align-items-center">
                    <span class="submission-icon"></span>
                    <span>Pengajuan</span>
                </a>
                <a href="../dashboard-admin/favorite/index.html" class="sidebar-item d-flex gap-1 align-items-center">
                    <span class="favorite-icon"></span>
                    <span>Favorit</span>
                </a>
                <a href="message/empty-state.html" class="sidebar-item d-flex gap-1 align-items-center">
                    <span class="message-icon"></span>
                    <span>Pesan</span>
                </a>
            </div>
        </div>
        <div class="link-item d-flex flex-column gap-2 w-100 align-items-center">
            <a href="../dashboard-admin/index.html" class="sidebar-item d-flex gap-1 align-items-center">
                <span class="info-icon"></span>
                <span>Bantuan</span>
            </a>
            <a href="../dashboard-admin/index.html" class="sidebar-item d-flex gap-1 align-items-center">
                <span class="setting-icon"></span>
                <span>Pengaturan</span>
            </a>
        </div>
    </div>
    <!-- END SIDEBAR -->


    <!-- TOPBAR -->
    <div class="topbar d-flex justify-content-between align-items-center">
        <h4 class="topbar-title">Beranda</h4>
        <div class="topbar-group d-flex gap-3 align-items-center">
            <form class="input-search position-relative" id="searchForm">
                <input type="search" class="topbar-input position-relative" placeholder="Cari properti, pengajuan, daerah, dll...">
                <img src="../../assets/image/icon/search-primary.svg" alt="Search Icon" width="16">
            </form>
            <hr>
            <div class="topbar-button topbar-button-login d-none d-lg-flex gap-2 align-items-center position-relative">
                <button class="button-login d-flex gap-2 align-items-center position-relative">
                    <img src="../../assets/image/profile/profile-image.svg" alt="Profile Image" width="32">
                    Bimabem
                </button>
                <div class="button-popup d-flex flex-column gap-2">
                    <a href="../dashboard-admin/index.html" class="d-flex align-items-center gap-2">
                        <i class="fa-solid fa-house"></i>
                        Dashboard
                    </a>
                    <a href="../authentication/login/index.html" class="d-flex align-items-center gap-2">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- END TOPBAR -->


    <!-- DASHBOARD CONTENT -->
    <div class="dashboard-content dashboard d-flex">
        <div class="content">
            <div class="row pb-4">
                <div class="col-12">
                    <div class="content-header d-flex justify-content-between align-items-center gap-3">
                        <img src="../../assets/image/icon/submission.svg" alt="Submission Icon" height="52">
                        <div class="header-content w-100">
                            <h6 class="mb-1">Lihat Permohonan Sewa</h6>
                            <p>Mari tinjau permohonan sewa Anda dan dapatkan tips dari kami.</p>
                        </div>
                        <button class="button-outline-small">Tinjau lamaran saya</button>
                    </div>
                </div>
                <div class="col-8" style="margin-top: 24px;">
                    <div class="content-transaction">
                        <div class="transaction-header d-flex align-items-center gap-3">
                            <h5 class="header-title">Jadwal Pembayaran</h5>
                            <p class="header-subtitle">Jatuh Tempo Dalam 7 Hari</p>
                        </div>
                        <div class="transaction-content d-flex align-items-center justify-content-between gap-5 mt-3">
                            <div class="content-wrapper d-flex align-items-center justify-content-between gap-3 w-100">
                                <div class="content-value d-flex flex-column">
                                    <p>Total</p>
                                    <h6>22 Juta</h6>
                                </div>
                                <div class="dark-line"></div>
                                <div class="content-value d-flex flex-column middle">
                                    <p>Bayar</p>
                                    <h6>10 Juta</h6>
                                </div>
                                <div class="dark-line"></div>
                                <div class="content-value d-flex flex-column">
                                    <p>Tersisa</p>
                                    <h6>12 Juta</h6>
                                </div>
                            </div>
                            <button type="button" class="button-primary-small">Jadwal Pembayaran</button>
                        </div>
                    </div>
                    <div class="content-property" style="margin-top: 24px;">
                        <div class="property-header">
                            <h5>Properti</h5>
                            <p>Dari Properti Yang sering anda Lihat</p>
                        </div>
                        <div class="property d-flex flex-column gap-4">
                            <div class="property-item">
                                <div class="property-image d-flex gap-3 w-100">
                                    <img src="../../assets/image/dashboard/property-1.svg" alt="Property Image" class="image-thumbnail">
                                    <div class="wrapper d-flex flex-column gap-3" style="width: 30%;">
                                        <img src="../../assets/image/dashboard/property-2.svg" alt="Property Image" class="image-child">
                                        <img src="../../assets/image/dashboard/property-3.svg" alt="Property Image" class="image-child">
                                    </div>
                                </div>
                                <div class="property-content w-100">
                                    <div class="property-header d-flex justify-content-between">
                                        <div class="wrapper">
                                            <h6 class="property-title">Rumah Jakal 2</h6>
                                            <p class="property-description">Jalan Kaliurang, Sleman, Yogyakarta</p>
                                        </div>
                                        <div class="like-wrapper">
                                            <i class="fa-regular fa-heart" style="font-size: 16px;"></i>
                                        </div>
                                    </div>
                                    <div class="property-body d-flex gap-3">
                                        <p class="content-value d-flex align-items-center gap-2">
                                            <img src="../../assets/image/icon/bed-primary.svg" alt="Bed Icon" width="16">
                                            4
                                        </p>
                                        <p class="content-value d-flex align-items-center gap-2">
                                            <img src="../../assets/image/icon/bathroom-primary.svg" alt="Bathroom Icon" width="16">
                                            2
                                        </p>
                                        <p class="content-value d-flex align-items-center gap-2">
                                            <img src="../../assets/image/icon/size-primary.svg" alt="Size Icon" width="16">
                                            6x7.5 m²
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="property-item">
                                <div class="property-image d-flex gap-3 w-100">
                                    <img src="../../assets/image/dashboard/property-1.svg" alt="Property Image" class="image-thumbnail">
                                    <div class="wrapper d-flex flex-column gap-3" style="width: 30%;">
                                        <img src="../../assets/image/dashboard/property-2.svg" alt="Property Image" class="image-child">
                                        <img src="../../assets/image/dashboard/property-3.svg" alt="Property Image" class="image-child">
                                    </div>
                                </div>
                                <div class="property-content w-100">
                                    <div class="property-header d-flex justify-content-between">
                                        <div class="wrapper">
                                            <h6 class="property-title">Rumah Jakal 2</h6>
                                            <p class="property-description">Jalan Kaliurang, Sleman, Yogyakarta</p>
                                        </div>
                                        <div class="like-wrapper">
                                            <i class="fa-regular fa-heart" style="font-size: 16px;"></i>
                                        </div>
                                    </div>
                                    <div class="property-body d-flex gap-3">
                                        <p class="content-value d-flex align-items-center gap-2">
                                            <img src="../../assets/image/icon/bed-primary.svg" alt="Bed Icon" width="16">
                                            4
                                        </p>
                                        <p class="content-value d-flex align-items-center gap-2">
                                            <img src="../../assets/image/icon/bathroom-primary.svg" alt="Bathroom Icon" width="16">
                                            2
                                        </p>
                                        <p class="content-value d-flex align-items-center gap-2">
                                            <img src="../../assets/image/icon/size-primary.svg" alt="Size Icon" width="16">
                                            6x7.5 m²
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="property-item">
                                <div class="property-image d-flex gap-3 w-100">
                                    <img src="../../assets/image/dashboard/property-1.svg" alt="Property Image" class="image-thumbnail">
                                    <div class="wrapper d-flex flex-column gap-3" style="width: 30%;">
                                        <img src="../../assets/image/dashboard/property-2.svg" alt="Property Image" class="image-child">
                                        <img src="../../assets/image/dashboard/property-3.svg" alt="Property Image" class="image-child">
                                    </div>
                                </div>
                                <div class="property-content w-100">
                                    <div class="property-header d-flex justify-content-between">
                                        <div class="wrapper">
                                            <h6 class="property-title">Rumah Jakal 2</h6>
                                            <p class="property-description">Jalan Kaliurang, Sleman, Yogyakarta</p>
                                        </div>
                                        <div class="like-wrapper">
                                            <i class="fa-regular fa-heart" style="font-size: 16px;"></i>
                                        </div>
                                    </div>
                                    <div class="property-body d-flex gap-3">
                                        <p class="content-value d-flex align-items-center gap-2">
                                            <img src="../../assets/image/icon/bed-primary.svg" alt="Bed Icon" width="16">
                                            4
                                        </p>
                                        <p class="content-value d-flex align-items-center gap-2">
                                            <img src="../../assets/image/icon/bathroom-primary.svg" alt="Bathroom Icon" width="16">
                                            2
                                        </p>
                                        <p class="content-value d-flex align-items-center gap-2">
                                            <img src="../../assets/image/icon/size-primary.svg" alt="Size Icon" width="16">
                                            6x7.5 m²
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="property-item">
                                <div class="property-image d-flex gap-3 w-100">
                                    <img src="../../assets/image/dashboard/property-1.svg" alt="Property Image" class="image-thumbnail">
                                    <div class="wrapper d-flex flex-column gap-3" style="width: 30%;">
                                        <img src="../../assets/image/dashboard/property-2.svg" alt="Property Image" class="image-child">
                                        <img src="../../assets/image/dashboard/property-3.svg" alt="Property Image" class="image-child">
                                    </div>
                                </div>
                                <div class="property-content w-100">
                                    <div class="property-header d-flex justify-content-between">
                                        <div class="wrapper">
                                            <h6 class="property-title">Rumah Jakal 2</h6>
                                            <p class="property-description">Jalan Kaliurang, Sleman, Yogyakarta</p>
                                        </div>
                                        <div class="like-wrapper">
                                            <i class="fa-regular fa-heart" style="font-size: 16px;"></i>
                                        </div>
                                    </div>
                                    <div class="property-body d-flex gap-3">
                                        <p class="content-value d-flex align-items-center gap-2">
                                            <img src="../../assets/image/icon/bed-primary.svg" alt="Bed Icon" width="16">
                                            4
                                        </p>
                                        <p class="content-value d-flex align-items-center gap-2">
                                            <img src="../../assets/image/icon/bathroom-primary.svg" alt="Bathroom Icon" width="16">
                                            2
                                        </p>
                                        <p class="content-value d-flex align-items-center gap-2">
                                            <img src="../../assets/image/icon/size-primary.svg" alt="Size Icon" width="16">
                                            6x7.5 m²
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="property-item">
                                <div class="property-image d-flex gap-3 w-100">
                                    <img src="../../assets/image/dashboard/property-1.svg" alt="Property Image" class="image-thumbnail">
                                    <div class="wrapper d-flex flex-column gap-3" style="width: 30%;">
                                        <img src="../../assets/image/dashboard/property-2.svg" alt="Property Image" class="image-child">
                                        <img src="../../assets/image/dashboard/property-3.svg" alt="Property Image" class="image-child">
                                    </div>
                                </div>
                                <div class="property-content w-100">
                                    <div class="property-header d-flex justify-content-between">
                                        <div class="wrapper">
                                            <h6 class="property-title">Rumah Jakal 2</h6>
                                            <p class="property-description">Jalan Kaliurang, Sleman, Yogyakarta</p>
                                        </div>
                                        <div class="like-wrapper">
                                            <i class="fa-regular fa-heart" style="font-size: 16px;"></i>
                                        </div>
                                    </div>
                                    <div class="property-body d-flex gap-3">
                                        <p class="content-value d-flex align-items-center gap-2">
                                            <img src="../../assets/image/icon/bed-primary.svg" alt="Bed Icon" width="16">
                                            4
                                        </p>
                                        <p class="content-value d-flex align-items-center gap-2">
                                            <img src="../../assets/image/icon/bathroom-primary.svg" alt="Bathroom Icon" width="16">
                                            2
                                        </p>
                                        <p class="content-value d-flex align-items-center gap-2">
                                            <img src="../../assets/image/icon/size-primary.svg" alt="Size Icon" width="16">
                                            6x7.5 m²
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4" style="margin-top: 24px;">
                    <div class="content-profile d-flex flex-column align-items-center">
                        <div class="profile-header d-flex align-items-center justify-content-between w-100">
                            <h5 class="profile-title">Profil Saya</h5>
                            <i class="fa-solid fa-ellipsis" style="font-size: 22px;"></i>
                        </div>
                        <div class="profile-content d-flex flex-column align-items-center text-center">
                            <img src="../../assets/image/profile/profile-image-2.svg" alt="Profile Image" class="profile-image">
                            <h6>Giovanni Schleifer</h6>
                            <p>Houston, TX</p>
                        </div>
                        <div class="profile-nik d-flex justify-content-between align-items-center w-100">
                            <div class="wrapper d-flex gap-2 align-items-center">
                                <p>518</p>
                                <span class="bullet"></span>
                                <span class="bullet"></span>
                                <span class="bullet"></span>
                                <span class="bullet"></span>
                                <span class="bullet"></span>
                                <span class="bullet"></span>
                            </div>
                            <button type="button">Lihat NIK</button>
                        </div>
                        <div class="profile-credit d-flex justify-content-between align-items-center w-100">
                            <p>Skor Kredit</p>
                            <p>750 (Bagus)</p>
                        </div>
                        <div class="profile-chart w-100 d-flex flex-column align-items-center text-center">
                            <h5>Peluang Sewa Di Aplikasi</h5>
                            <img src="../../assets/image/dashboard/chart.svg" alt="Chart Image" class="img-fluid">
                            <p>Peluang permohonan sewa Anda disetujui.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="aside-notification d-flex flex-column">
            <div class="notification-header">
                <div class="wrapper d-flex align-items-center justify-content-between">
                    <h5 class="notification-title">December 2025</h5>
                    <div class="notification-button d-flex align-items-center gap-3">
                        <i class="fa-solid fa-chevron-left" style="font-size: 15px;"></i>
                        <i class="fa-solid fa-chevron-right" style="font-size: 15px;"></i>
                    </div>
                </div>
                <div class="header-calender d-flex gap-2 justify-content-between">
                    <button type="button">29</button>
                    <button type="button">30</button>
                    <button type="button">1</button>
                    <button type="button">2</button>
                    <button type="button" class="active">3</button>
                    <button type="button">4</button>
                    <button type="button">5</button>
                </div>
            </div>
            <div class="notification-activity">
                <h5 class="notification-title">Aktivitas Terkini</h5>
                <div class="activity-item d-flex align-items-start" style="gap: 16px;">
                    <img src="../../assets/image/icon/offering.svg" alt="Offering Icon" width="42">
                    <div class="activity-message w-100">
                        <div class="message-header d-flex justify-content-between gap-1">
                            <div class="wrapper">
                                <h6 class="message-title">Kirim Penawaran</h6>
                                <p class="message-description">Anda baru saja mengirimkan penawaran untuk Rumah Jakal 2</p>
                            </div>
                            <div class="wrapper d-flex flex-column align-items-end">
                                <p class="message-time">6:12 PM</p>
                                <button type="button" class="badge-success">Ditawar</button>
                            </div>
                        </div>
                        <img src="../../assets/image/dashboard/property-message.svg" alt="Property Image" class="img-fluid mt-3">
                    </div>
                </div>
                <div class="activity-item d-flex align-items-start mt-3" style="gap: 16px;">
                    <img src="../../assets/image/icon/reminder.svg" alt="Reminder Icon" width="42">
                    <div class="activity-message w-100">
                        <div class="message-header d-flex justify-content-between gap-1">
                            <div class="wrapper">
                                <h6 class="message-title">Pengingat Pembayaran</h6>
                                <p class="message-description">12 Juta sisa pembayaran jatuh tempo minggu depan.</p>
                            </div>
                            <div class="wrapper d-flex flex-column align-items-end">
                                <p class="message-time">10:07 AM</p>
                                <button type="button" class="badge-warning">Batas Jan 1, 2025</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="activity-item d-flex align-items-start mt-3" style="gap: 16px;">
                    <img src="../../assets/image/icon/form.svg" alt="Form Icon" width="42">
                    <div class="activity-message w-100">
                        <div class="message-header d-flex justify-content-between gap-1">
                            <div class="wrapper">
                                <h6 class="message-title">Formulir Sewa yang Dibuat</h6>
                                <p class="message-description">Aplikasi sewa Anda telah dibuat. <span>Click to review</span></p>
                            </div>
                            <div class="wrapper d-flex flex-column align-items-end">
                                <p class="message-time">8:38 AM</p>
                                <button type="button" class="badge-success">Selesai</button>
                            </div>
                        </div>
                        <div class="message-info mt-3">
                            <p class="info-title d-flex align-items-center gap-2" style="margin-bottom: 12px;">
                                <img src="../../assets/image/icon/tips-primary.svg" alt="Info Primary" width="16">
                                Dapatkan Tips
                            </p>
                            <p class="info-description" style="margin-bottom: 20px;">Bagaimana cara membuat permohonan sewa Anda agar disetujui.</p>
                            <button type="button" class="button-primary-small">Pelajari Selanjutnya</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END DASHBOARD CONTENT -->


    <!-- SCRIPT JS -->
    <script src="../../assets/js/bootstrap.bundle.min.js"></script>
    <script>
        AOS.init({
            once: true,
        });

        document.getElementById('searchForm').addEventListener('submit', function(event) {
            event.preventDefault();
            window.location.href = '../../views/homepage/property/index-login.html';
        });

        document.querySelector('.button-login').addEventListener('click', function() {
            document.querySelector('.button-popup').classList.toggle('active')
        })
    </script>
    <!-- END SCRIPT JS -->
</body>
</html>