<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tenancy Employee Form Page | Pintu Rumah App</title>


    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/responsive.css">
    <!-- END STYLE CSS -->


    <!-- SCRIPT JS -->
    <script src="https://kit.fontawesome.com/e5ccf98c71.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- END SCRIPT JS -->
</head>
<body class="mb-5 pb-5">
    <!-- NAVBAR -->
    <div class="navbar-tenancy d-flex align-items-center justify-content-between">
        <a href="../../dashboard-admin/index.html" class="tenancy-button w-100 d-flex align-items-center gap-2">
            <i class="fa-solid fa-chevron-left" style="font-size: 0.913rem;"></i>
            Kembali ke Dashboard
        </a>
        <div class="tenancy-image w-100">
            <img src="../../../assets/image/brand/brand-logo.svg" alt="Brand Logo" height="42">
        </div>
    </div>
    <!-- END NAVBAR -->


    <!-- SIDEBAR -->
    <div class="sidebar-tenancy d-none d-xl-flex flex-column align-items-center justify-content-center gap-2">
        <button type="button" class="sidebar-button w-100 d-flex align-items-center gap-2">
            <i class="fa-solid fa-user"></i>
            Pribadi
            <i class="fa-solid fa-check" style="width: 100%; text-align: end; color: rgba(112, 101, 240, 1);"></i>
        </button>
        <button type="button" class="sidebar-button active w-100 d-flex align-items-center gap-2">
            <i class="fa-solid fa-suitcase"></i>
            Pekerjaan
        </button>
        <button type="button" class="sidebar-button w-100 d-flex align-items-center gap-2">
            <i class="fa-solid fa-house"></i>
            Tempat Tinggal
        </button>
        <button type="button" class="sidebar-button w-100 d-flex align-items-center gap-2">
            <i class="fa-solid fa-folder-closed"></i>
            Dokumen
        </button>
    </div>
    <!-- END SIDEBAR -->


    <!-- MAIN CONTENT -->
    <div class="main">
        <section class="tenancy-form container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-xl-8">
                    <div class="content-header">
                        <h2 class="title text-center w-100" style="margin-bottom: 6px;">Formulir Permohonan Sewa</h2>
                        <p class="description text-center">Permohonan ini tidak akan diproses jika tidak diisi secara lengkap dengan melampirkan salinan semua dokumen pendukung.</p>
                    </div>
                    <div class="content-form">
                        <h3 class="form-subtitle">Status Pekerjaan</h3>
                        <p class="form-description">Silakan masukkan pengaturan Ketenagakerjaan Anda saat ini dan yang paling dominan terlebih dahulu</p>
                        <div class="form-content">
                            <h5 class="content-title mb-3">Rincian Pekerjaan</h5>
                            <form class="form row">
                                <div class="col-12 mb-3">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label for="title">Status Pekerjaan</label>
                                        <select class="input w-100" id="title">
                                            <option value="">Pilih status pekerjaan Anda</option>
                                            <option value="">Karyawan</option>
                                            <option value="">Self Employee</option>
                                            <option value="">Student</option>
                                            <option value="">Pensiun/ Unemployed/ Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label for="name">Nama Perusahaan</label>
                                        <input type="text" class="input" id="name" placeholder="Nama Perusahaan">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label for="phone">Nomor Telepon Perusahaan</label>
                                        <input type="text" class="input" id="phone" placeholder="e.g. 3222-9000">
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label for="alamat">Alamat Perusahaan</label>
                                        <input type="text" class="input" id="alamat" placeholder="e.g. 142 Risse Street">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label for="kota">Kota</label>
                                        <input type="text" class="input" id="kota" placeholder="e.g. Raytown">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label for="pos">Kode Pos</label>
                                        <input type="text" class="input" id="pos" placeholder="e.g. 1011">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label for="state">State</label>
                                        <select class="input" id="state">
                                            <option value="">Pilih Provinsi</option>
                                            <option value="">Florida</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label for="country">Select Country</label>
                                        <select class="input" id="country">
                                            <option value="">Select a country</option>
                                            <option value="">Tunisia</option>
                                            <option value="">United Arab Emirates</option>
                                            <option value="">United Kingdom</option>
                                            <option value="">United States of America</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label for="posisi">Posisi Pekerjaan Anda</label>
                                        <input type="text" class="input" id="posisi" placeholder="e.g. Designer">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label>Apakah anda sekarang bekerja disini?</label>
                                        <div class="input-radio d-flex gap-3">
                                            <div class="form-input d-flex gap-2 align-items-center">
                                                <input type="radio" id="ya">
                                                <label for="ya">Ya</label>
                                            </div>
                                            <div class="form-input d-flex gap-2 align-items-center">
                                                <input type="radio" id="no">
                                                <label for="no">Tidak</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label for="start_date">Start Date</label>
                                        <input type="date" class="input" id="start_date" placeholder="MM/YYYY">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label for="end_date">End Date</label>
                                        <input type="date" class="input" id="end_date" placeholder="MM/YYYY">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label for="pekerjaan">Jenis Pekerjaan</label>
                                        <select class="input" id="pekerjaan">
                                            <option value="">Pilih Jenis Pekerjaan</option>
                                            <option value="">Full-time</option>
                                            <option value="">Part-time</option>
                                            <option value="">Internship</option>
                                            <option value="">Contract</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label for="pendapatan">Pendapatan Kerja Tahunan</label>
                                        <input type="text" class="input" id="pendapatan" placeholder="e.g. 500000000">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="form-content" style="margin-top: 32px;">
                            <h5 class="content-title mb-3">Referensi Ketenagakerjaan</h5>
                            <form class="form row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label for="name">Nama Supervisor</label>
                                        <input type="name" class="input" id="name" placeholder="Nama Lengkap Supervisor">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label for="pemilik">Posisi Supervisor</label>
                                        <input type="text" class="input" id="pemilik" placeholder="Pemilik">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label for="phone_supervisor">Nomor Telepon Supervisor</label>
                                        <input type="text" class="input" id="phone_supervisor" placeholder="e.g. 3222-9000">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-input d-flex flex-column gap-2 w-100">
                                        <label for="email">Email</label>
                                        <input type="email" class="input" id="email" placeholder="contoh@gmail.com">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card-checkbox d-flex gap-2 align-items-center">
                                        <input type="checkbox" id="approve">
                                        <label for="approve">Saya memberikan wewenang kepada Referee saya untuk merilis semua informasi pribadi saya yang berkaitan dengan aplikasi sewa saya. Saya mengakui bahwa jawaban referensi bersifat rahasia antara agen real estat dan pemberi referensi. <span>Lihat Persyaratan.</span></label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="content-footer">
                        <a href="../tenancy-living/form-1.html" class="button-primary text-center" style="width: 300px;">Lanjutkan</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- END MAIN CONTENT -->

    <!-- SCRIPT JS -->
    <script src="../../../assets/js/bootstrap.bundle.min.js"></script>
    <script>
        AOS.init({
            once: true,
        });
    </script>
    <!-- END SCRIPT JS -->
</body>
</html>